<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book</title>
  </head>
  <body>
    <form action="/cadBook" method="post">
      <input type="text" name="title" id="tilte" />
      <input type="text" name="author" id="author" />
      <button>Enviar</button>
    </form>
  </body>
</html>
