<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form com JS</title>
  </head>
  <body>
    <form action="/adicionarLivros" method="post" class="form">
      <label for="nome">Nome do Livro:</label>
      <input
        type="text"
        id="book"
        name="book"
        placeholder="Digite nome do Livro"
      />
      <label for="text">Autor do Livro:</label>
      <input
        type="author"
        id="author"
        name="author"
        placeholder="Digite nome 2 Autor"
      />
      <button>Enviar</button>
    </form>
    <script src="index.js"></script>
  </body>
</html>
